body{
	width: 950px;
	height: 360px;
	background: #f3f5f7;
}

.user_center{
	
	margin-left: 50px;
}
.user_center ul{
	display: inline-block;
}
.user_center li{
	font-family: "微软雅黑";
	font-size: 18px;
	margin-top: 10px;
}